* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 0 8px #224C65;
}

header img {
    float: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
    color: #224C65;
}

header ul.navBar {
    height: 3rem;
    text-align: right;
    padding: 1rem;
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 2rem;
}

.navBar li {
    display: inline;
    text-align: right;
    margin: 0.5rem;
    font-family: 'Amiko', sans-serif;
    color: #224C65;
    outline: none;
}

.navBar li a {
    color: #224C65;
}

.navBar li a:hover {
    color: #2E2814;
}

.navBar li a::after {
    display: inline;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: -1px;
}

#hero-area {
    background: url(vineyard-scape.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
    box-shadow: 0 0 8px #224C65;
    position: relative;
    text-align: center;
    max-height: 50rem;
}

.cd-intro h1 {
    font-size: 3.0rem;
    color: white;
    text-shadow: 3px 3px black;
}

section.skills,
.about,
.projects,
.contact {
    border-bottom: #224C65 solid 1px;
    width: 100%;
    margin: 0 auto;
}

section h2 {
    font-family: 'Amiko', sans-serif;
    font-size: 1.5rem;
    color: #2E2814;
    text-align: center;
    margin-left: 1rem;
    padding: 1rem;
}

section.about p {
    display: block;
    padding: 1rem;
    color: #224C65;
    text-align: center;
}

section.about img {
    float: right;
    max-height: 15rem;
    margin: 0 0 10px 10px;
}

section.about div {
    text-align: center;
    font-size: 3rem;
}

section.about div a i {
    color: #224C65;
    padding-left: 1rem;
    padding-right: 1rem;
}

section.projects {
    text-align: center;
    width: 100%;
}

section.projects figure {
    text-align: center;
    padding-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 60%;
    padding: 0.5rem;
    box-shadow: 5px 5px 2.5px #224C65;
    vertical-align: top;
}

section.projects figure img {
    height: 15rem;
    width: 100%;
}

section.projects figure a:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 42px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 2s ease;
}

section.projects figure a:hover:before {
    width: 100%;
}

section.projects figure a {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem;
    height: auto;
}


/* visited link */

section.projects figure a:visited {
    color: #91B813;
}


/* mouse over link */

section.projects figure a:hover {
    color: #224C65;
}


/* selected link */

section.projects figure a:active {
    color: yellow;
}

section.projects figure figcaption {
    width: 100%;
}

section.projects figure figcaption.description {
    padding-bottom: 0.5rem;
}

section.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}

section.skills ul li {
    display: inline-block;
    margin: 1rem;
    vertical-align: top;
    height: 10rem;
    width: 20rem;
    line-height: 10rem;
    -moz-border-radius: 1rem;
    border-radius: 10rem;
    border: solid 3px lightgray;
    background-color: #224C65;
    color: white;
    text-align: center;
    font-size: 1em;
    box-shadow: 0 0 8px #224C65;
}

footer div {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
}

footer div a {
    padding: 1rem;
}


/* visited link */

footer div a:visited {
    color: #91B813;
}


/* mouse over link */

footer div a:hover {
    color: #224C65;
}


/* selected link */

footer div a:active {
    color: yellow;
}

footer div a[href^="mailto"]:visited {
    color: #91B813;
}

footer div a[href^="mailto"] {
    color: blue;
}


/* visited link */

footer div a[href^="mailto"]:visited {
    color: #91B813;
}


/* mouse over link */

footer div a[href^="mailto"]:hover {
    color: #224C65;
}


/* selected link */

footer div a[href^="mailto"]:active {
    color: yellow;
}

footer div a i {
    padding-right: 0.5rem;
}

@media only screen and (max-width: 1068px) {
    section.projects figure {
        text-align: center;
        padding: 0.5rem;
        box-shadow: 5px 5px 2.5px #224C65;
        width: 750px;
        margin: 1rem auto;
    }
    section.projects figure a img {
        /*        height: 15rem;*/
        width: auto;
    }
    section.projects figure figcaption {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cd-intro h1 {
        font-size: 2.0rem;
    }
    .navBar li {
        display: none;
    }
    section.projects figure {
        text-align: center;
        padding: 0.5rem;
        box-shadow: 5px 5px 2.5px #224C65;
        width: 100%;
    }
    section.projects figure img {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    header img {
        display: block;
        margin: 0 auto;
    }
    .cd-intro h1 {
        padding-top: 3rem;
    }
    #hero-area {
        padding: 50px 0;
        max-height: 20rem;
    }
    .navBar li {
        display: none;
    }
    section.about p {
        display: block;
        padding: 1rem;
        color: #224C65;
        text-align: center;
    }
    section.projects figure {
        text-align: center;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0.5rem;
        box-shadow: 5px 5px 2.5px #224C65;
        width: 100%;
    }
    footer div a {
        padding: 0rem;
        display: block;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 320px) {
    section.skills ul li {
        display: block;
        color: #224C65;
    }
    section.projects figure {
        text-align: center;
        padding: 0.5rem;
        box-shadow: 5px 5px 2.5px #224C65;
        width: 100%;
    }
}
