* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
    font-family: 'Merriweather', serif;
}


/*Background Image*/


/*
html {
    background: rgba(0, 0, 0, 0) url("/public/images/vineyard-scape.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/

header ul.navBar {
    height: 3rem;
    text-align: right;
    padding: 1rem;
}

ul .navBar {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

.navBar li {
    display: inline;
    text-align: right;
    margin: 1rem;
}

#hero-area {
    background: url(/images/vineyard-scape.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    padding: 230px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    max-height: 40rem;
}

.cd-intro h1 {
    font-size: 2rem;
    color: aliceblue;
}

section.skills,
.about,
.projects,
.contact {
    border-bottom: #68A9AC solid 1px;
    width: 90%;
    margin: 0 auto;
}

section.about p {
    padding: 1rem;
}

section h2 {
    font-family: 'Amiko', sans-serif;
    font-size: 1.5rem;
    color: #061E44;
    text-align: left;
    margin-left: 1rem;
    padding: 1rem;
}

section.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

section.skills ul li {
    display: inline;
    margin: 1rem;
}

section.projects {
    text-align: center;
}

section a img {
    height: 15rem;
    padding: 1rem;
    box-shadow: 5px 5px 2.5px #68A9AC;
    margin: 1rem;
}
